<%= form_for @group, role: 'form' do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
 
  <%= f.submit :class => 'btn btn-success' %>
  
  <%= yield %>
<% end %>